<!DOCTYPE html>
<html ng-app="ionicApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Two select box on a page</title>
    <link href="../lib/ionic-bundle/css/ionic.min.css" rel="stylesheet">
    <link href="../src/SelectBox.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="../lib/ionic-bundle/ionic.bundle.min.js"></script>
    <script src="../lib/angular-translate/angular-translate.min.js"></script>

    <script src="../src/SelectBox.js"></script>

</head>
<body ng-controller="MyCtrl">
<select-box ng-Selected-Value="select.selectedValue"
            ng-Item-Name="label"
            ng-Item-Id="key"
            ng-title="List 1"
            ng-data="list"
            ng-placeholder="Select"
            ng-header-class="bar-calm"
            ng-select-changed="onSelectChanged()"
></select-box>

<select-box ng-Selected-Value="select.selectedValue2"
            ng-Item-Name="label"
            ng-Item-Id="key"
            ng-title="List 2"
            ng-data="list2"
            ng-placeholder="Select2"
            ng-header-class="bar-positive"
            ng-select-changed="onSelectChanged()"
></select-box>

<input type="button" ng-click="resetSelectBox()" value="Reset selections">&nbsp;
<input type="button" ng-click="selectFirstItems()" value="Select first item of each select box">

<script>
    angular.module('ionicApp', ['ionic', '$selectBox'])
            .controller('MyCtrl', function ($scope) {
                $scope.list = [
                    {key: "Test", label: "(Test) Test Label"},
                    {key: "Test2", label: "(Test2) Test Label 2"}
                ];

                $scope.list2 = [
                    {key: "TestA", label: "(TestA) Test Label A"},
                    {key: "TestB", label: "(TestB) Test Label B"}
                ];

                $scope.select = {};

                $scope.onSelectChanged = function () {
                    console.log('onSelectChanged, current scope:', $scope);
                    // Why the heck do I still get previous value printed????
                    console.log('onSelectChanged, current selections: ', $scope.select.selectedValue, ' ', $scope.select.selectedValue2);
                };

                $scope.resetSelectBox = function () {
                    $scope.select.selectedValue = null;
                    $scope.select.selectedValue2 = null;
                };

                $scope.selectFirstItems = function () {
                    $scope.select.selectedValue = 'Test';
                    $scope.select.selectedValue2 = 'TestA';
                };
            });
</script>
</body>
</html>
