<!DOCTYPE html>
<html ng-app="ionicApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="http://code.ionicframework.com/1.1.0/css/ionic.css" rel="stylesheet">
    <link href="../src/SelectBox.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="http://code.ionicframework.com/1.1.0/js/ionic.bundle.min.js"></script>
    <script src="../lib/angular-translate/angular-translate.min.js"></script>
    <script src="../src/SelectBox.js"></script>

</head>
<body ng-controller="MyCtrl">
<input type="button" ng-click="setLocale('fr-FR')" value="French">&nbsp;<input type="button"
                                                                               ng-click="setLocale('en-US')"
                                                                               value="English">
<select-box ng-Selected-Value="selectedValue"
            ng-Item-Name="label"
            ng-Item-Id="key"
            ng-title="List 1"
            ng-data="list"
            ng-placeholder="Select"
            ng-header-class="bar-calm"
            ng-select-changed="onSelectChanged()"
></select-box>

<script>
    angular.module('ionicApp', ['ionic', '$selectBox', 'pascalprecht.translate'])
            .config(['$translateProvider', function ($translateProvider) {
                $translateProvider.useSanitizeValueStrategy('sanitizeParameters');
                $translateProvider.useStaticFilesLoader({
                    prefix: 'test/i18n/',
                    suffix: '.json'
                });

                $translateProvider.preferredLanguage("fr-FR");
                $translateProvider.fallbackLanguage("en-US");
            }])
            .controller('MyCtrl', function ($scope) {
                $scope.list = [
                    {key: "Test", label: "Test Label"},
                    {key: "Test2", label: "Test Label 2"}
                ];

                $scope.list2 = [
                    {key: "TestA", label: "Test Label A"},
                    {key: "TestB", label: "Test Label B"}
                ];

                $scope.onSelectChanged = function () {
                    console.log('onSelectChanged');
                    alert('You changed value to: ' + $scope.selectedValue);
                };
                $scope.setLocale = function (locale) {
                    $translate.use(locale);
                    alert($translate.instant('hello'));
                };
            });
</script>
</body>
</html>
